language: ruby

rvm:
  - 1.9.3

gemfile:
  - Gemfile
  - Gemfile.github-pages

env:
  global:
    - HTML_FOLDER="_site/"
    - STYLE_FOLDER="static/css"
    - CSS_FILES="static/css/style.css"
    - CSS_EXCLUDES=""
    - JS_FOLDER="static/js/"
    - NOKOGIRI_USE_SYSTEM_LIBRARIES=true # Speeds up htmlproof

install:
  - bundle install --quiet
  - npm install htmlhint csslint jshint

before_script:
  - cat $BUNDLE_GEMFILE+.lock
# - bundle outdated

script:
  - bundle exec jekyll build --trace

after_script:
  - htmlproof ./_site
  - htmlhint $HTML_FOLDER
  - bundle exec sass --check $STYLE_FOLDER/*.scss
  - bundle exec scss-lint $STYLE_FOLDER/*.scss
  - csslint $CSS_FILES --exclude-list=$CSS_EXCLUDES
  - jshint $JS_FOLDER

notifications:
  email:
    on_success: change
    on_failure: always
