---
layout: default
title:  "Example Company"
front:  true
---
<div class="row" id="name" role="banner">
    <div class="box">
        <h1>Example Company</h1>

        <p id="header">
            The most reputable placeholder company in the world.
        </p>
    </div>
</div>

<div class="row" id="intro">
    <div class="box" role="section">
        <div class="embed-container">
            <iframe src="https://player.vimeo.com/video/82845229?title=0&amp;byline=0&amp;portrait=0&amp;badge=0&amp;color=7f8ebc"
            frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
        </div>
    </div>
</div>

<div class="box" id="company-info" role="section">
    <h2>Who We Are</h2>

    <p>The Example Company is a subsidiary of the Lorem Ipsum Corporation. We have a year-long history of providing the most pristine placeholder content in the world.</p>
</div>

{% if site.show_posts == true and site.posts.size != 0 %}
    <div class="row" id="posts">
        <div class="box" role="section">
            <h2>Posts</h2>

            <ul>
            {% for post in site.posts %}
                <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
            {% endfor %}
            </ul>
        </div>
    <div>
{% endif %}
