$font: Verdana, sans-serif;

$blue:  #7F8EBC;
$black: #555;

$containerWidth: 800px;
$mobileWidth:    600px;

$boxPaddingVer: 2.5em;
$boxPaddingHor:     0;
$padding:        20px;

$fontSize:   14px;
$lineHeight: 1.5 * $fontSize; // 21px

$avatarSize:  125px;
$avatarShape: "circle";  // "rounded"

$bgColor: #FFF;
$iPhoneTint: none;

$navigationSize:         12px;
$nameH1Size:             32px;
$nameHeaderSize:         24px;
$footerSize:             12px;
$pageH1Size:             24px;
$PageHeaderSize:         18px;
