$mediaQueryiPhoneLarge: "(min-device-width: 320px) and (max-device-width: 568px)";
$mediaQueryiPhoneSmall: "(min-device-width: 320px) and (max-device-width: 480px)";
$mediaQueryiPad:        "(min-device-width: 768px) and (max-device-width: 1024px)";
